@model ASP.NET_MVC.Models.DanhSachPhongChieu

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*<h2>Delete</h2>*@

<h3>Xác nhận?</h3>
<div>
    @*<h4>DanhSachPhongChieu</h4>*@
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Tên phòng chiếu
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TenPhongChieu)
        </dd>

        <dt>
            Số lượng ghế
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SoLuongGhe)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Xóa" class="btn btn-default" /> |
            @Html.ActionLink("Trở lại", "Index")
        </div>
    }
</div>
