@model ASP.NET_MVC.Models.LichChieuPhim

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Chi tiết</h2>

<div>
    @*<h4>LichChieuPhim</h4>*@
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Tên phim
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DanhSachPhim.TenPhim)
        </dd>

        <dt>
            Tên phòng chiếu
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DanhSachPhongChieu.TenPhongChieu)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Sửa", "Edit", new { id = Model.LichChieuId }) |
    @Html.ActionLink("Trở lại", "Index")
</p>
